/* ✅ Sidebar와 main content 영역을 나누기 */
.sidebar {
  width: 150px; /* 사이드바 고정 크기 */
  background: #f8f8f8;
  height: 100vh;
}
  
  .sidebar-item {
    font-size: 18px;
    padding: 15px;
    color: #333;
    text-decoration: none;
  }
  
  .sidebar-item:hover {
    background-color: #e9ecef;
    border-radius: 5px;
  }
  
  .sideImg{
    text-align: center;
  }